
<h1>Let's Play Hangman!!!!!</h1>

<p>You have this many attempts left: $attempts </p>

<p>$answer</p>
<hr>
<p>$guesses</p>
<form action='/' method='get'>
  <div class="form-group">
    <label for="hangMan">Enter your guess!</label>
    <input id="spark_Guess" name="spark_Guess" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Show me the money!</button>
</form>
<hr>
<p>$userAlert</p>
